# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
syndb-sim
syndb-sim-debug
syndb-sim-prof
syndb-analysis
syndb-analysis-debug
syndb-analysis-prof
syndb-analysis*
data/*
output.txt
temp.txt
data-analysis-output/*